# Python
backend/venv/
backend/__pycache__/
*.pyc

# Node / Expo
RCCarApp/node_modules/
RCCarApp/.expo/
RCCarApp/package-lock.json

# Dashboard
dashboard/node_modules/
dashboard/package-lock.json
dashboard/dist/

# OS
.DS_Store
Thumbs.db
